.navbar {
    background: #ffffffee;
    height: var(--header-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
}
